<div class="global-grid-bg">
    <div class="grid-frame">
        
        <div class="grid-rows-layer">
            <div class="grid-row"></div> <div class="grid-row">
                <div class="beam beam-h" style="animation-delay: 0s; animation-duration: 7s;"></div>
            </div>
            
            <div class="grid-row">
                <div class="beam beam-h" style="animation-delay: 3.5s; animation-duration: 9s;"></div>
            </div>
            
            <div class="grid-row"></div>
            
            <div class="grid-row">
                <div class="beam beam-h" style="animation-delay: 1.5s; animation-duration: 6s;"></div>
            </div>
            
            <div class="grid-row">
                <div class="beam beam-h" style="animation-delay: 5s; animation-duration: 8s;"></div>
            </div>

             <div class="grid-row">
                <div class="beam beam-h" style="animation-delay: 2s; animation-duration: 10s;"></div>
            </div>
        </div>

        <div class="grid-cols-layer">
            
            <div class="grid-col">
                <div class="beam beam-v" style="animation-delay: 1s; animation-duration: 7s;"></div>
            </div>
            
            <div class="grid-col">
                <div class="beam beam-v" style="animation-delay: 4s; animation-duration: 5s;"></div>
            </div>
            
            <div class="grid-col">
                <div class="beam beam-v" style="animation-delay: 0.5s; animation-duration: 8s;"></div>
            </div>
            
            <div class="grid-col">
                <div class="beam beam-v" style="animation-delay: 2.5s; animation-duration: 6s;"></div>
            </div>
            
            <div class="grid-col">
                <div class="beam beam-v" style="animation-delay: 5s; animation-duration: 9s;"></div>
            </div>
            
            <div class="grid-col">
                <div class="beam beam-v" style="animation-delay: 1.5s; animation-duration: 7s;"></div>
                
                <div class="beam beam-v-last" style="animation-delay: 3s; animation-duration: 6s;"></div>
            </div>

        </div>

    </div>
</div>